.coluna_personagem{
    animation: paraDireita 2s linear forwards;
}

@keyframes paraDireita {
    to {
        transform: translateX(70dvw);
    }
}

.coluna_persona_esquerda{
    animation: paraEsquerda 2s linear forwards;
}

@keyframes paraEsquerda {
    from {
        transform: translateX(70dvw);
    }
    to {
        transform: translateX(0dvw);
    }
}

body{
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}